{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
    </form>
    
    <a href="{% url 'users_dashboard' %}">Back to dashboard</a>
    <br>
    <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a>
    <br>
    <a href="{% url 'password_reset' %}">Reset password</a>
    <br>
    <a href="{% url 'register' %}">Register</a>
</div>
{% endblock %}